@font-face {
    font-family: f1;
    src: url(fonts/FoundersGrotesk-Semibold\ \(1\)\ \(1\).ttf);
}
@font-face {
    font-family: f2;
    src: url(fonts/NeueMontreal-Regular\ \(1\)\ \(1\).ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    font-family: 'f2';
    text-transform: uppercase;
    
}